/*  */
.sign {
  font-size: 40px;
}

.accordian-header {

  font-size:40px;
  cursor: pointer;

  text-align: center;
color: white;
  padding: 15px 15px;

  background-color:blue;
}
.accordian-body {
  padding: 15px 5px;
}
